
<h4>{{question.author}} asks: {{question.content}}</h4>
<br>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button class="waves-effect waves-light btn" {{action 'delete' question}}>Delete</button>
