<div class="container">


<h1>Ask Me Anything (Coding)</h1>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
</div>
